<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/168161f6a4.js" crossorigin="anonymous" defer></script>
  <link rel="stylesheet" href="css/style.css">
  <title>PROMENI</title>
</head>
<body>

  <!-- Masthead Start -->
  <div class="o-masthead">

    <div class="g-container">

      <div class="o-masthead__logo-wrapper">
        <img class="o-masthead__logo" src="../../assets/images/logo.png" alt="logo">
      </div>

      <!-- Navigation Start -->
      <nav class="m-navigation">
        <ul class="m-navigation__items">
          <li class="m-navigation__item"><a href="#"/>Home</a></li>
          <li class="m-navigation__item"><a href="#desktop"/>Desktop PC</a></li>
          <li class="m-navigation__item"><a href="#laptop"/>Laptop PC</a></li>
          <li class="m-navigation__item"><a href="#odrzavanje"/>Redovno održavanje</a></li>
          <li class="m-navigation__item m-navigation__item--active"><a href="#kontakt"/>KONTAKT</a></li>
        </ul>
      </nav>
      <!-- Navigation End -->

    </div>
    
  </div>
  <!-- Masthead End -->

  <!-- Header Slider Start -->
  <header class="m-hero">
    
    <div class="m-hero__slide">
      <img src="../../assets/images/slide.png" alt="slide" class="m-hero__image">
      <h1 class="m-hero__title">NAJBOLJA <del>IT 4 BIZ </del>REŠENJA U GRADU</h1>
      <button class="m-hero__cta-btn">KONTAKTIRAJTE NAS</button>
    </div>
    
    <div class="m-hero__slide">
      <img src="../../assets/images/slide.png" alt="slide" class="m-hero__image">
      <h2 class="m-hero__title">NAJBOLJA <del>IT 4 BIZ </del>REŠENJA U GRADU</h2>
      <button class="m-hero__cta-btn">KONTAKTIRAJTE NAS</button>
    </div>

    <div class="m-hero__slide">
      <img src="../../assets/images/slide.png" alt="slide" class="m-hero__image">
      <h2 class="m-hero__title">NAJBOLJA <del>IT 4 BIZ </del>REŠENJA U GRADU</h2>
      <button class="m-hero__cta-btn">KONTAKTIRAJTE NAS</button>
    </div>

    <div class="m-hero__slide">
      <img src="../../assets/images/slide.png" alt="slide" class="m-hero__image">
      <h2 class="m-hero__title">NAJBOLJA <del>IT 4 BIZ </del>REŠENJA U GRADU</h2>
      <button class="m-hero__cta-btn">KONTAKTIRAJTE NAS</button>
    </div>

    <div class="m-hero__bullets-wrapper">
      <div class="m-hero__bullet"></div>
      <div class="m-hero__bullet"></div>
      <div class="m-hero__bullet"></div>
      <div class="m-hero__bullet"></div>
    </div>

  </header>
  <!-- Header Slider End -->

  <!-- Section 1 Start -->
  <section class="m-service-description" id="o-nama">

    <div class="g-container">

      <!-- U ovom slucaju ne postoji -->
      <div class="m-service-description__reference-title-wrapper"></div>
      
      <div class="m-service-description__content-wrapper">

        <div class="m-service-description__image-wrapper">
          <img class="m-service-description__image" src="../../assets/images/slide.png" alt="work">
        </div>
  
        <div class="m-service-description__text-wrapper">
  
          <!-- U slucaju da postoji, taj div ide ovde? -->
          <div class="m-service-description__reference-title-wrapper">

            <h2 class="m-service-description__reference-title">
              <span class="m-service-description__reference-title-order">01</span>
              <span class="m-service-description__reference-title-divider"></span>
              <span class="m-service-description__reference-title-text">O NAMA</span>
            </h2>
            
            <h3 class="m-service-description__title">Desktop i Laptop servis</h3>

          </div>

          <!-- U ovom slucaju ne postoji -->
          <h4 class="m-service-description__text-title"></h4>
  
          <div class="m-service-description__richtext h-richtext">
            <!-- Ako se unet tekst pretvara u <p> u WP-u -->
            <p>Specijalizovan servis računara za <strong> pravna lica</strong> Vam nudi najbolja rešenja u oblasti informacionih tehnologija. Postojimo već osam godina i u našoj ponudi imamo kompletan servis desktop i laptop računara kao i mrežne opreme i periferija.
            Takođe nudimo Vam i projektovanje sigurnosnih sistema zaštite vaših objekata (video nadzora i alarmnih sistema).</p>
          </div>
  
          <button class="m-service-description__cta-btn">KONTAKTIRAJTE NAS</button>
          
        </div>
        
      </div>

    </div>
    
  </section>
  <!-- Section 1 End -->

  <!-- Section 2 Start -->
  <section class="m-service-description m-service-description--gray" id="desktop"><!-- Ili h-c-gray? -->

    <div class="g-container">

      <div class="m-service-description__reference-title-wrapper">

        <h2 class="m-service-description__reference-title">
          <span class="m-service-description__reference-title-order">02</span>
          <span class="m-service-description__reference-title-divider"></span>
          <span class="m-service-description__reference-title-text">DESKTOP</span>
        </h2>
        
        <h3 class="m-service-description__title">DESKTOP PC</h3>

      </div>
      
      <!-- Row 1 -->
      <div class="m-service-description__content-wrapper">

        <div class="m-service-description__image-wrapper">
          <img class="m-service-description__image" src="../../assets/images/slide.png" alt="work">
        </div>
  
        <div class="m-service-description__text-wrapper">
  
          <!-- U ovom slucaju ne postoji -->
          <div class="m-service-description__reference-title-wrapper"></div>

          <h4 class="m-service-description__text-title">Servis Desktop Računara</h4>
  
          <div class="m-service-description__richtext h-richtext">
            
            <p><strong>U našem servisu možete izvršiti sve popravke i nadogradnje vašeg mezimca. Možemo da ga "nabudžimo" da bude zver.</strong></p>

            <ul>
              <li>Popravka svih vrsta desktop računara</li>
              <li>Nadogradnja konfiguracija sa novim ili polovnim komponentama</li>
              <li>Čišćenje od virusa</li>
              <li>Čišćenje od prljavštine</li>
              <li>Podmazivanje kulera i zamena istih</li>
              <li>Zamena termalne paste</li>
              <li>Podizanje operativnog sistema i reinstalacije</li>
              <li>Instalacije uslužnih programa</li>
              <li>Instalacije software paketa (Adobe CS, AutoCad, Photoshop...)</li>
            </ul>

          </div>
  
          <!-- U ovom slucaju ne postoji -->
          <button class="m-service-description__cta-btn"></button>
          
        </div>
        
      </div>
      
      <!-- Row 2 - Reverse -->
      <div class="m-service-description__content-wrapper m-service-description__content-wrapper--reverse">

        <div class="m-service-description__image-wrapper">
          <img class="m-service-description__image" src="../../assets/images/slide.png" alt="work">
        </div>
  
        <div class="m-service-description__text-wrapper">
  
          <!-- U ovom slucaju ne postoji -->
          <div class="m-service-description__reference-title-wrapper"></div>

          <h4 class="m-service-description__text-title">Sklapanje konfiguracija (Custom made PC)</h4>
  
          <div class="m-service-description__richtext h-richtext">
            
            <p><strong>Stojimo Vam na raspolaganju da zajedno sa Vama napravimo kompletnu konfiguraciju prilagođenu Vašim potrebama!</strong></p>

            <p>Možemo da napravimo računar koji zadovoljava sve Vaše potrebe:</p>
  
            <ul>
              <li>Gaming</li>
              <li>Office</li>
              <li>Professional video editing</li>
              <li>Professional graphics designs</li>
              <li>Servers</li>
            </ul>
            
            <p>
              Sve što treba da uradite je da nam pošaljete e-mail na <del>office@nbgteam.rs</del> sa Vašim potrebama, a naš tim će Vam odgovoriti sa predlogom rešenja u najkraćem vremenskom roku...
            </p>
            
          </div>
  
          <!-- U ovom slucaju ne postoji -->
          <button class="m-service-description__cta-btn"></button>
          
        </div>
        
      </div>

    </div>
    
  </section>
  
  <!-- Section 3 Start -->
  <section class="m-service-cards" id="laptop">

    <div class="g-container">

      <div class="m-service-cards__reference-title-wrapper">

        <h2 class="m-service-cards__reference-title h-justify-center"><!-- Da li je ova helper klasa ok? -->
          <span class="m-service-cards__reference-title-order">03</span>
          <span class="m-service-cards__reference-title-divider"></span>
          <span class="m-service-cards__reference-title-text">LAPTOP</span>
        </h2>
        
        <h3 class="m-service-cards__title h-justify-center">LAPTOP PC</h3>

        <!-- U ovom slucaju ne postoji -->
        <p class="m-service-cards__reference-paragraph"></p>

      </div>

      <div class="m-service-cards__cards-wrapper">

        <!-- Card 1 Start -->
        <article class="m-service-cards__card">

          <h3 class="m-service-cards__card-title">Zamena termalne paste</h3>

          <p class="m-service-cards__text">
            Jako je bitno da Vam se računar ne pregreva.
            Za to je zaslužna dobra provodna termalna pasta i čist cooler. Ukoliko primetite da Vam je računar topao sa spoljne strane to znači da je još topliji unutra.
          </p>

          <button class="m-service-cards__card-btn">POZOVITE NAS</button>

          <img class="m-service-cards__card-image" src="../../assets/images/slide.png" alt="cooler">

        </article>
        <!-- Card 1 End -->

        <!-- Card 2 Start -->
        <article class="m-service-cards__card">

          <h3 class="m-service-cards__card-title">Čišćenje od virusa</h3>

          <p class="m-service-cards__text">
            Čišćenje od virusa
            Najsavremenijim alatima 99% uspešno čistimo od virusa i malware-a. Ukoliko čišćenje ne uspe predlažemo kompletnu reinstalaciju windows-a.
          </p>

          <button class="m-service-cards__card-btn">POZOVITE NAS</button>

          <img class="m-service-cards__card-image" src="../../assets/images/slide.png" alt="laptop">

        </article>
        <!-- Card 2 End -->

        <!-- Card 3 Start -->
        <article class="m-service-cards__card">

          <h3 class="m-service-cards__card-title">Zamena DC konektora</h3>

          <p class="m-service-cards__text">
            Ukoliko primetite da Vaš laptop neće da se puni, a lampica na punjaču svetli, sigurno je problem u konektoru punjenja. To je konektor koji se nalazi unutar laptopa i podložan je lompljenju.
          </p>

          <button class="m-service-cards__card-btn">POZOVITE NAS</button>

          <img class="m-service-cards__card-image" src="../../assets/images/slide.png" alt="housing">

        </article>
        <!-- Card 3 End -->

      </div>
      
      <div class="m-service-cards__cta-btn-wrapper h-justify-center">
        <button class="m-service-cards__cta-btn">SAZNAJTE VIŠE</button>
      </div>

    </div>
    
  </section>

  <!-- Section 4 Start -->
  <section class="m-service-cards" id="odrzavanje">

    <div class="g-container">

      <div class="m-service-cards__reference-title-wrapper">

        <h2 class="m-service-cards__reference-title">
          <span class="m-service-cards__reference-title-order">04</span>
          <span class="m-service-cards__reference-title-divider"></span>
          <span class="m-service-cards__reference-title-text">ODRŽAVANJE</span>
        </h2>
        
        <h3 class="m-service-cards__title">OUTSOURCE IT</h3>

        <p class="m-service-cards__reference-paragraph">U sklopu naše ponude postoje tri različite vrste usluga za održavanje računara:</p>

      </div>

      </div>

      <div class="m-service-cards__mini-cards-wrapper">
        
        <!-- Card 1 Start -->
        <article class="m-service-cards__mini-card">
          
          <div class="m-service-cards__mini-card-image-wrapper">
            <img class="m-service-cards__mini-card-image-icon" src="../../assets/images/slide.png" alt="tools">
          </div>

          <h3 class="m-service-cards__mini-card-title">Održavanje hardware-a i reinstalacija software-a</h3>

          <button class="m-service-cards__mini-card-btn">DETALJNIJE</button>

        </article>
        <!-- Card 1 End -->
        
        <!-- Card 2 Start -->
        <article class="m-service-cards__mini-card">
          
          <div class="m-service-cards__mini-card-image-wrapper">
            <img class="m-service-cards__mini-card-image-icon" src="../../assets/images/slide.png" alt="tools">
          </div>

          <h3 class="m-service-cards__mini-card-title">Online podrška (personal IT)</h3>

          <button class="m-service-cards__mini-card-btn">DETALJNIJE</button>

        </article>
        <!-- Card 2 End -->
        
        <!-- Card 3 Start -->
        <article class="m-service-cards__mini-card">
          
          <div class="m-service-cards__mini-card-image-wrapper">
            <img class="m-service-cards__mini-card-image-icon" src="../../assets/images/slide.png" alt="tools">
          </div>

          <h3 class="m-service-cards__mini-card-title">All inclusive</h3>

          <button class="m-service-cards__mini-card-btn">DETALJNIJE</button>

        </article>
        <!-- Card 3 End -->

      </div>

  </section>

  <!-- Section 5 Start -->
  <section class="m-contact" id="kontakt">
        
    <div class="m-contact__map-wrapper">
      <!-- Embded maps goes here -->
      <img src="../../assets/images/slide.png">
    </div>
        
    <div class="m-contact__content-wrapper">

      <div class="m-service-cards__reference-title-wrapper">

        <!-- Reference Title Start -->
        <h2 class="m-contact__reference-title">
          <span class="m-contact__reference-title-order">05</span>
          <span class="m-contact__reference-title-divider"></span>
          <span class="m-contact__reference-title-text">KONTAKT</span>
        </h2>
        <!-- Reference Title End -->
        
        <h3 class="m-contact__title">Pošaljite nam poruku</h3>
        
        <!-- U ovom slucaju ne postoji -->
        <p class="m-contact__reference-paragraph"></p>

      </div>

      <div class="m-contact__form-wrapper">
        <!-- Embeded form goes here -->
      </div>
      
      <div class="m-contact__richtext h-richtext">
        <ul>
          <li><strong>Servis se nalazi na adresi: </strong>Mileve Marić Ajnštajn 58, lokal 1, 11070 Novi Beograd, Srbija</li>
          <li><strong>Sedište firme se nalazi na adresi: </strong>Dr. Ivana Ribara 190/15, 11070 Novi Beograd, Srbija</li>
          <li><strong>Tel: </strong><strong><del>060 67 00 112</del></strong></li>
          <li><strong>Email: </strong><strong><del>office@nbgteam.rs</del></strong></li>
        </ul>
      </div>

    </div>
    
  </section>

  <footer class="m-footer">
    
    <div class="g-container">

      <div class="m-footer__content-wrapper">

        <div class="m-footer__navigation-wrapper">

          <div class="m-footer__logo-wrapper">
            <img class="m-footer__logo" src="../../assets/images/logo.png" alt="logo">
          </div>

          <nav class="m-navigation">
            <ul class="m-navigation-items">
              <li class="m-navigation-item"><a href="#desktop"/>Desktop PC</a></li>
              <li class="m-navigation-item"><a href="#laptop"/>Laptop PC</a></li>
              <li class="m-navigation-item"><a href="#odrzavanje"/>Redovno održavanje</a></li>
              <li class="m-navigation-item"><a href="#kontakt"/>KONTAKT</a></li>
            </ul>
          </nav>
          
        </div>

        <div class="m-footer__social-wrapper">

          <p>Zapratite nas:</p>

          <div class="m-footer__social-items">
            
            <a class="m-footer__social-item" href="#">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="m-footer__social-item" href="#">
              <i class="fab fa-instagram-square"></i>
            </a>
            <a class="m-footer__social-item" href="#">
              <i class="fab fa-linkedin"></i>
            </a>

          </div>
        </div>

      </div>
      
      <div class="m-footer__copy-wrapper">

        <p class="m-footer__copy">
          Copyright&copy;NBG Team. 2020.
        </p>

      </div>
      
    </div>

  </footer>
</body>
</html>