<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/168161f6a4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>PROMENI</title>
</head>
<body>

  <!-- Navigation Start -->
  <div class="m-navigation">

    <div class="m-navigation__content-wrapper h-page-wrapper">

      <div class="m-navigation__logo-wrapper">
        <img class="m-navigation__logo" src="../../assets/images/logo.png" alt="logo">
      </div>

      <nav class="m-navigation__items-wrapper">
        <ul class="m-navigation__items">
          <li class="m-navigation__item"><a href="#title"/>Home</a></li>
          <li class="m-navigation__item"><a href="#title-1"/>Desktop PC</a></li>
          <li class="m-navigation__item"><a href="#title-2"/>Laptop PC</a></li>
          <li class="m-navigation__item"><a href="#title-3"/>Redovno održavanje</a></li>
          <li class="m-navigation__item m-navigation__item--active"><a href="#title-4"/>KONTAKT</a></li>
        </ul>
      </nav>

    </div>
    
  </div>
  <!-- Navigation End -->

  <!-- Header Slider Start -->
  <header class="m-hero-slider">

    <div class="m-hero-slider__content-wrapper">

      <h1 class="m-hero-slider__title">NAJBOLJA <span class="h-color-special">IT 4 BIZ </span>REŠENJA U GRADU</h1>

      <button class="a-cta-button a-cta-button--background">KONTAKTIRAJTE NAS</button>

      <div class="m-hero-slider__bullets-wrapper">
        <div class="m-hero-slider__bullet"></div>
        <div class="m-hero-slider__bullet"></div>
        <div class="m-hero-slider__bullet"></div>
        <div class="m-hero-slider__bullet"></div>
      </div>

    </div>
    
    <div class="m-hero-slider__slide" data-slide-id="1">
      <img src="../../assets/images/slide.png" alt="slide 1" class="m-hero-slider__image">
    </div>
    
    <div class="m-hero-slider__slide" data-slide-id="2">
      <img src="../../assets/images/slide.png" alt="slide 2" class="m-hero-slider__image">
    </div>

    <div class="m-hero-slider__slide" data-slide-id="3">
      <img src="../../assets/images/slide.png" alt="slide 3" class="m-hero-slider__image">
    </div>

    <div class="m-hero-slider__slide" data-slide-id="4">
      <img src="../../assets/images/slide.png" alt="slide 4" class="m-hero-slider__image">
    </div>

  </header>
  <!-- Header Slider End -->

  <!-- Section 1 Start -->
  <section class="m-section m-section-1">

    <div class="h-page-wrapper">

      <div class="h-inner-wrapper">
        <img id="page-img-1" src="../../assets/images/slide.png" alt="work">
      </div>

      <div class="h-inner-wrapper">

        <!-- Reference Title Start -->
        <h2 class="m-section__reference-title" id="reference-title-1">
          <span class="m-section__reference-title-order">01</span>
          <span class="m-section__reference-title-divider"></span>
          <span class="m-section__reference-title-text">O NAMA</span>
        </h2>
        <!-- Reference Title End -->
        
        <h3 class="m-section__title">Desktop i Laptop servis</h3>

        <p class="m-section__paragraph">
          Specijalizovan servis računara za <span class="h-bold"> pravna lica</span> Vam nudi najbolja rešenja u oblasti informacionih tehnologija. Postojimo već osam godina i u našoj ponudi imamo kompletan servis desktop i laptop računara kao i mrežne opreme i periferija.
          Takođe nudimo Vam i projektovanje sigurnosnih sistema zaštite vaših objekata (video nadzora i alarmnih sistema).
        </p>

        <button class="a-cta-button a-cta-button--background">KONTAKTIRAJTE NAS</button>
        
      </div>


    </div>
    
  </section>
  <!-- Section 1 End -->

  <section class="m-section m-section-2">

    <div class="h-page-wrapper">

      <div class="h-inner-wrapper">

        <!-- Reference Title Start -->
        <h2 class="m-section__reference-title" id="reference-title-2">
          <span class="m-section__reference-title-order">02</span>
          <span class="m-section__reference-title-divider"></span>
          <span class="m-section__reference-title-text">DESKTOP</span>
        </h2>
        <!-- Reference Title End -->
        
        <h3 class="m-section__title">DESKTOP PC</h3>

      </div>

      <div class="h-inner-wrapper">

        <div>

          <div class="h-inner-wrapper">
            <img id="page-img-1" src="../../assets/images/slide.png" alt="highway">
          </div>

          <div class="h-inner-wrapper">
            <h4 class="m-section__subtitle">Servis Desktop Računara</h4>

            <p class="m-section__paragraph h-bold">
              U našem servisu možete izvršiti sve popravke i nadogradnje vašeg mezimca. Možemo da ga "nabudžimo" da bude zver.
            </p>

            <ul class="m-section__list">
              <li class="m-section__list-item">Popravka svih vrsta desktop računara</li>
              <li class="m-section__list-item">Nadogradnja konfiguracija sa novim ili polovnim komponentama</li>
              <li class="m-section__list-item">Čišćenje od virusa</li>
              <li class="m-section__list-item">Čišćenje od prljavštine</li>
              <li class="m-section__list-item">Podmazivanje kulera i zamena istih</li>
              <li class="m-section__list-item">Zamena termalne paste</li>
              <li class="m-section__list-item">Podizanje operativnog sistema i reinstalacije</li>
              <li class="m-section__list-item">Instalacije uslužnih programa</li>
              <li class="m-section__list-item">Instalacije software paketa (Adobe CS, AutoCad, Photoshop...)</li>
            </ul>
            
          </div>

          <div>
            <div class="h-inner-wrapper">

              <h4 class="m-section__subtitle">Sklapanje konfiguracija (Custom made PC)</h4>
  
              <p class="m-section__paragraph m-section__paragraph--bold">
                Stojimo Vam na raspolaganju da zajedno sa Vama napravimo kompletnu konfiguraciju prilagođenu Vašim potrebama!
              </p>
              
              <p class="m-section__paragraph">
                Možemo da napravimo računar koji zadovoljava sve Vaše potrebe:
              </p>
  
              <ul class="m-section__list">
                <li class="m-section__list-item">Gaming</li>
                <li class="m-section__list-item">Office</li>
                <li class="m-section__list-item">Professional video editing</li>
                <li class="m-section__list-item">Professional graphics designs</li>
                <li class="m-section__list-item">Servers</li>
              </ul>
              
              <p class="m-section__paragraph">
                Sve što treba da uradite je da nam pošaljete e-mail na office@nbgteam.rs sa Vašim potrebama, a naš tim će Vam odgovoriti sa predlogom rešenja u najkraćem vremenskom roku...
              </p>
              
            </div>
            
            <div class="h-inner-wrapper">
              <img id="page-img-1" src="../../assets/images/slide.png" alt="processor">
            </div>

          </div>

        </div>
        
      </div>

    </div>

  </section>

  <section class="m-section m-section-3">

    <div class="h-page-wrapper">

      <div class="h-inner-wrapper h-align-center">

        <!-- Reference Title Start -->
        <h2 class="m-section__reference-title" id="reference-title-3">
          <span class="m-section__reference-title-order">03</span>
          <span class="m-section__reference-title-divider"></span>
          <span class="m-section__reference-title-text">LAPTOP</span>
        </h2>
        <!-- Reference Title End -->
        
        <h3 class="m-section__title">LAPTOP PC</h3>

      </div>

      <div class="h-inner-wrapper">

        <!-- Card Start -->
        <article class="m-section__card">

          <h3 class="m-section__card-title">Zamena termalne paste</h3>

          <p class="m-section__paragraph">
            Jako je bitno da Vam se računar ne pregreva.
            Za to je zaslužna dobra provodna termalna pasta i čist cooler. Ukoliko primetite da Vam je računar topao sa spoljne strane to znači da je još topliji unutra.
          </p>

          <button class="a-cta-button">POZOVITE NAS</button>

          <img class="m-section__card-image" src="../../assets/images/slide.png" alt="cooler" class="m-section__card-image">

        </article>
        <!-- Card End -->

        <!-- Card Start -->
        <article class="m-section__card">

          <h3 class="m-section__card-title">Čišćenje od virusa</h3>

          <p class="m-section__paragraph">
            Čišćenje od virusa
            Najsavremenijim alatima 99% uspešno čistimo od virusa i malware-a. Ukoliko čišćenje ne uspe predlažemo kompletnu reinstalaciju windows-a.
          </p>

          <button class="a-cta-button">POZOVITE NAS</button>

          <img class="m-section__card-image" src="../../assets/images/slide.png" alt="laptop" class="m-section__card-image">

        </article>
        <!-- Card End -->

        <!-- Card Start -->
        <article class="m-section__card">

          <h3 class="m-section__card-title">Zamena DC konektora</h3>

          <p class="m-section__paragraph">
            Ukoliko primetite da Vaš laptop neće da se puni, a lampica na punjaču svetli, sigurno je problem u konektoru punjenja. To je konektor koji se nalazi unutar laptopa i podložan je lompljenju.
          </p>

          <button class="a-cta-button">POZOVITE NAS</button>

          <img class="m-section__card-image" src="../../assets/images/slide.png" alt="housing" class="m-section__card-image">

        </article>
        <!-- Card End -->

      </div>
      
      <div class="h-inner-wrapper h-align-center">
        <button class="a-cta-button a-cta-button--background">SAZNAJTE VIŠE</button>
      </div>

    </div>
    
  </section>

  <section class="m-section m-section-4">

    <div class="h-page-wrapper">

      <div class="h-inner-wrapper">

        <!-- Reference Title Start -->
        <h2 class="m-section__reference-title" id="reference-title-4">
          <span class="m-section__reference-title-order">04</span>
          <span class="m-section__reference-title-divider"></span>
          <span class="m-section__reference-title-text">ODRŽAVANJE</span>
        </h2>
        <!-- Reference Title End -->
        
        <h3 class="m-section__title">OUTSOURCE IT</h3>
        
        <p class="m-section__paragraph">
          U sklopu naše ponude postoje tri različite vrste usluga za održavanje računara:
        </p>

      </div>
        
      <div class="h-inner-wrapper">
        
        <!-- Card Start -->
        <article class="m-section__card">

          <div class="m-section__card-image-wrapper">
            <img class="m-section__card-image-icon" src="../../assets/images/slide.png" alt="tools">
          </div>

          <h3 class="m-section__card-title">Održavanje hardware-a i reinstalacija software-a</h3>

          <button class="a-cta-button a-cta-button--background">DETALJNIJA</button>

        </article>
        <!-- Card End -->
        
        <!-- Card Start -->
        <article class="m-section__card">

          <div class="m-section__card-image-wrapper">
            <img class="m-section__card-image-icon" src="../../assets/images/slide.png" alt="gears">
          </div>

          <h3 class="m-section__card-title">Online podrška (personal IT)</h3>

          <button class="a-cta-button a-cta-button--background">DETALJNIJA</button>

        </article>
        <!-- Card End -->
        
        <!-- Card Start -->
        <article class="m-section__card m-section__card--active">

          <div class="m-section__card-image-wrapper">
            <img class="m-section__card-image-icon" src="../../assets/images/slide.png" alt="woman">
          </div>

          <h3 class="m-section__card-title">All inclusive</h3>

          <button class="a-cta-button a-cta-button--background">DETALJNIJA</button>

        </article>
        <!-- Card End -->

      </div>

  </section>

  <section class="m-section m-section-5">
        
    <div class="h-inner-wrapper">
      <!-- Embded maps goes here -->
      <img src="../../assets/images/slide.png">
    </div>
        
    <div class="h-inner-wrapper">

        <!-- Reference Title Start -->
        <h2 class="m-section__reference-title" id="reference-title-5">
          <span class="m-section__reference-title-order">05</span>
          <span class="m-section__reference-title-divider"></span>
          <span class="m-section__reference-title-text">KONTAKT</span>
        </h2>
        <!-- Reference Title End -->
        
        <h3 class="m-section__title">Pošaljite nam poruku</h3>

        <div class="m-section__form">
          <!-- Embeded form goes here -->
        </div>
        
        <ul class="m-section__list">
          <li class="m-section__list-item"><span class="h-bold">Servis se nalazi na adresi: </span>Mileve Marić Ajnštajn 58, lokal 1, 11070 Novi Beograd, Srbija</li>
          <li class="m-section__list-item"><span class="h-bold">Sedište firme se nalazi na adresi: </span>Dr. Ivana Ribara 190/15, 11070 Novi Beograd, Srbija</li>
          <li class="m-section__list-item"><span class="h-bold">Tel: </span><span class="h-color-special">060 67 00 112</span></li>
          <li class="m-section__list-item"><span class="h-bold">Email: </span><span class="h-color-special">office@nbgteam.rs</span></li>
        </ul>

    </div>
    
  </section>

  <footer class="m-footer">
    
    <div class="h-page-wrapper">

      <div class="h-inner-wrapper">

        <div class="m-footer__navigation">

          <img class="m-footer__logo" src="../../assets/images/logo.png" alt="logo">

          <nav class="m-footer__navigation-wrapper">
            <ul class="m-footer__navigation-items">
              <li class="m-footer__navigation-item"><a href="#title"/>Home</a></li>
              <li class="m-footer__navigation-item"><a href="#title-1"/>Desktop PC</a></li>
              <li class="m-footer__navigation-item"><a href="#title-2"/>Laptop PC</a></li>
              <li class="m-footer__navigation-item"><a href="#title-3"/>Redovno održavanje</a></li>
              <li class="m-footer__navigation-item"><a href="#title-4"/>KONTAKT</a></li>
            </ul>
          </nav>
          
        </div>

        <div class="m-footer__social">

          <p>Zapratite nas:</p>

          <div class="m-footer__social-items-wrapper">
            <a class="m-footer__social-item" href="#">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="m-footer__social-item" href="#">
              <i class="fab fa-instagram-square"></i>
            </a>
            <a class="m-footer__social-item" href="#">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>

      </div>
      
      <div class="h-inner-wrapper">

        <p class="m-footer__copy">
          Copyright&copy;NBG Team. 2020.
        </p>

      </div>
      
    </div>

  </footer>
</body>
</html>