.m-footer {
  background-color: #1b1b1b;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;

    @include mq-tablet-s-up() {
      flex-direction: row;
    }
  }

  &__logo-wrapper {
    text-align: center;
    margin-bottom: 30px;

    @include mq-tablet-s-up() {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  &__logo {
    width: 130px;
  }

  &__social-wrapper {
    color: $c-white;
    text-align: center;

    @include mq-tablet-s-up() {
      text-align: right;
    }
  }

  &__social-text {
    margin-bottom: 10px;
  }

  &__social-items {
    display: flex;
    justify-content: center;

    @include mq-tablet-s-up() {
      justify-content: end;
    }
  }

  &__social-item {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    i {
      font-size: 26px;
      color: $c-special;
    }
  }

  &__copy-wrapper {
    color: $c-white;
    border-top: 1px solid $c-gray;
    padding: 10px 0 20px;
    font-size: 10px;
  }
}
