@charset "UTF-8";
/* MEDIA QUERIES */
/* INTERNET EXPLORER */
/* COMPONENTS */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.g-container {
  max-width: 1100px;
  margin: 0 auto;
}

.h-centered {
  text-align: center;
}

.o-masthead {
  visibility: hidden;
  position: fixed;
  top: -1000px;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(27, 27, 27, 0.3);
  padding: 20px;
}
.o-masthead--sticky {
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .o-masthead--active {
    visibility: visible;
    top: 0;
    bottom: 0;
    background-color: #1b1b1b;
  }
  .o-masthead--active .o-masthead__container {
    flex-direction: column;
  }
  .o-masthead--active .o-masthead__hamburger--open {
    display: none;
  }
  .o-masthead--active .o-masthead__hamburger--close {
    display: block;
  }
  .o-masthead--active .o-masthead__logo-wrapper {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .o-masthead {
    visibility: visible;
    top: 0;
  }
}
.o-masthead__container {
  display: flex;
  justify-content: space-between;
}
.o-masthead__logo-wrapper {
  width: 100px;
  display: flex;
}
.o-masthead__logo {
  display: flex;
}
.o-masthead__logo-img {
  width: 100%;
  object-fit: contain;
}
.o-masthead__hamburger {
  position: fixed;
  visibility: visible;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}
.o-masthead__hamburger--open .o-masthead__hamburger-open-part {
  width: 40px;
  height: 4px;
  background-color: #1b1b1b;
  margin: 7px 0;
}
.o-masthead__hamburger--close {
  display: none;
}
.o-masthead__hamburger--close:before, .o-masthead__hamburger--close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 40px;
  width: 4px;
  background-color: #fff;
}
.o-masthead__hamburger--close:before {
  transform: rotate(45deg);
}
.o-masthead__hamburger--close:after {
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .o-masthead__hamburger {
    visibility: hidden;
  }
}
.m-navigation__items {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .m-navigation__items {
    flex-direction: row;
  }
}
.m-navigation__item {
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .m-navigation__item {
    font-size: 12px;
    margin-right: 40px;
    margin-bottom: 0;
  }
}
.m-navigation__item:last-child {
  margin-right: 0px;
}
.m-navigation__item--active .m-navigation__link {
  background-color: #e53935;
  padding: 12px 24px;
}
.m-navigation__link {
  color: #fff;
  display: flex;
  align-self: center;
}
.m-navigation__link--active {
  color: #e53935;
}
.m-navigation--sticky .m-navigation__item:not(.m-navigation__item--active) .m-navigation__link {
  color: #1b1b1b;
}

.m-hero {
  height: 80vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.m-hero::before {
  content: "";
  position: absolute;
  bottom: -495px;
  background-color: white;
  width: 100%;
  height: 500px;
  transform: skew(0deg, 7deg);
  z-index: 10;
}
.m-hero::after {
  content: "";
  position: absolute;
  bottom: -495px;
  background-color: white;
  width: 100%;
  height: 500px;
  transform: skew(0deg, -7deg);
  z-index: 10;
}
.m-hero__bullets-wrapper {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.m-hero__bullet {
  width: 6px;
  height: 6px;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}
.m-hero__bullet--active {
  background-color: #e53935;
}
.m-hero__slides {
  height: 100%;
  display: flex;
}
.m-hero__slide {
  position: relative;
  height: 100%;
  min-width: 100%;
}
.m-hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.m-hero__slide-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.m-hero__slide-text del {
  text-decoration: none;
  color: #e53935;
}
.m-hero__title {
  margin-bottom: 40px;
  font-size: 45px;
}
.m-hero__cta-btn {
  background-color: #e53935;
  color: #fff;
  padding: 20px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.m-service-description {
  padding: 0 0 50px 0;
  overflow: auto;
}
.m-service-description--pale {
  background-color: #f9f9f9;
}
.m-service-description__content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .m-service-description__content-wrapper {
    align-items: stretch;
    flex-direction: row;
  }
}
.m-service-description__content-wrapper--reverse {
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .m-service-description__content-wrapper--reverse {
    flex-direction: row-reverse;
  }
}
.m-service-description__content-wrapper--reverse .m-service-description__text-wrapper {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .m-service-description__image-wrapper {
    width: 40%;
  }
}
.m-service-description__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .m-service-description__text-wrapper {
    width: 60%;
    margin-left: 60px;
  }
}
@media screen and (min-width: 768px) {
  .m-service-description__reference-title-wrapper {
    margin-top: 50px;
  }
}
.m-service-description__reference-title {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 25px;
}
.m-service-description__reference-title-divider {
  width: 45px;
  height: 2px;
  margin: 0 5px;
  background-color: #cccccc;
  align-self: center;
}
.m-service-description__title {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}
.m-service-description__text-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.m-service-description__richtext {
  line-height: 2;
  margin-bottom: 30px;
}
.m-service-description__richtext p {
  margin-bottom: 8px;
  font-size: 14px;
}
.m-service-description__richtext strong {
  font-weight: bold;
}
.m-service-description__richtext ul {
  columns: 2;
  padding-left: 16px;
}
.m-service-description__richtext li::before {
  position: relative;
  content: "■";
  color: red;
  display: inline-block;
  width: 16px;
  top: -2px;
  margin-left: -16px;
}
.m-service-description__richtext del {
  text-decoration: none;
  color: #e53935;
}
.m-service-description__cta-btn {
  padding: 15px 24px;
  background-color: #e53935;
  color: #fff;
  border: none;
  margin-bottom: 20px;
}

.m-service-cards {
  overflow: auto;
  padding: 0 0 50px 0;
}
.m-service-cards--dark {
  background-color: #1b1b1b;
  color: #fff;
}
.m-service-cards--background-img {
  background-image: url("../../assets/img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.m-service-cards__reference-title-wrapper {
  margin-top: 50px;
}
.m-service-cards__reference-title-wrapper--centered .m-service-cards__reference-title {
  justify-content: center;
}
.m-service-cards__reference-title-wrapper--centered .m-service-cards__title {
  text-align: center;
}
.m-service-cards__reference-title {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 25px;
}
.m-service-cards__reference-title-divider {
  width: 45px;
  height: 2px;
  margin: 0 5px;
  background-color: #cccccc;
  align-self: center;
}
.m-service-cards__title {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}
.m-service-cards__reference-paragraph {
  margin-bottom: 30px;
}
.m-service-cards__richtext {
  line-height: 2;
  margin-bottom: 30px;
}
.m-service-cards__richtext p {
  margin-bottom: 8px;
  font-size: 14px;
}
.m-service-cards__richtext strong {
  font-weight: bold;
}
.m-service-cards__richtext ul {
  columns: 2;
  padding-left: 16px;
}
.m-service-cards__richtext li::before {
  position: relative;
  content: "■";
  color: red;
  display: inline-block;
  width: 16px;
  top: -2px;
  margin-left: -16px;
}
.m-service-cards__richtext del {
  text-decoration: none;
  color: #e53935;
}
.m-service-cards__cards-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .m-service-cards__cards-wrapper {
    flex-direction: row;
    margin-bottom: 30px;
  }
}
.m-service-cards__card {
  margin: 30px 0;
  background-color: #fff;
  color: #1b1b1b;
  border-top: 3px solid #e53935;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 16px 5px #1b1b1b;
}
@media screen and (min-width: 768px) {
  .m-service-cards__card {
    margin: 0 15px;
  }
}
.m-service-cards__card:first-child {
  margin-left: 0;
}
.m-service-cards__card:last-child {
  margin-right: 0;
}
.m-service-cards__card-content {
  padding: 30px 25px 0;
  text-align: center;
}
.m-service-cards__card-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}
.m-service-cards__text {
  margin-bottom: 30px;
  line-height: 1.5;
}
.m-service-cards__card-image {
  width: 100%;
}
.m-service-cards__card-btn {
  background-color: #fff;
  color: #e53935;
  font-weight: bold;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.m-service-cards__cta-btn-wrapper {
  margin-bottom: 30px;
}
.m-service-cards__cta-btn {
  background-color: #e53935;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 14px 30px;
  cursor: pointer;
}
.m-service-cards__mini-cards-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .m-service-cards__mini-cards-wrapper {
    flex-direction: row;
  }
}
.m-service-cards__mini-card {
  margin: 30px 0;
  background-color: #fff;
  color: #1b1b1b;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 0px 16px 3px #1b1b1b;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .m-service-cards__mini-card {
    margin: 0 15px;
  }
}
.m-service-cards__mini-card--special {
  background-color: #e53935;
  color: #fff;
}
.m-service-cards__mini-card--special .m-service-cards__mini-card-btn {
  background-color: #fff;
  color: #e53935;
}
.m-service-cards__mini-card:first-child {
  margin-left: 0;
}
.m-service-cards__mini-card:last-child {
  margin-right: 0;
}
.m-service-cards__mini-card-image-wrapper {
  text-align: center;
  margin-bottom: 15px;
}
.m-service-cards__mini-card-image-icon {
  width: 40%;
}
.m-service-cards__mini-card-title {
  margin-bottom: 15px;
}
.m-service-cards__mini-card-btn {
  border: none;
  background-color: #e53935;
  color: #fff;
  padding: 10px 16px;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
}

.m-contact {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .m-contact {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .m-contact__map-wrapper {
    width: 50%;
  }
}
.m-contact__content-wrapper {
  padding: 0 30px 30px;
}
@media screen and (min-width: 768px) {
  .m-contact__content-wrapper {
    width: 50%;
  }
}
.m-contact__reference-title-wrapper {
  margin-top: 50px;
}
.m-contact__reference-title-wrapper--centered .m-service-cards__reference-title {
  justify-content: center;
}
.m-contact__reference-title-wrapper--centered .m-service-cards__title {
  text-align: center;
}
.m-contact__reference-title {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 25px;
}
.m-contact__reference-title-divider {
  width: 45px;
  height: 2px;
  margin: 0 5px;
  background-color: #cccccc;
  align-self: center;
}
.m-contact__title {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}
.m-contact__reference-paragraph {
  margin-bottom: 30px;
}
.m-contact__richtext {
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .m-contact__richtext {
    margin-bottom: 30px;
  }
}
.m-contact__richtext p {
  margin-bottom: 8px;
  font-size: 14px;
}
.m-contact__richtext strong {
  font-weight: bold;
}
.m-contact__richtext ul {
  padding-left: 16px;
}
.m-contact__richtext li::before {
  position: relative;
  content: "■";
  color: red;
  display: inline-block;
  width: 16px;
  top: -2px;
  margin-left: -16px;
  margin-bottom: 15px;
}
.m-contact__richtext del {
  text-decoration: none;
  color: #e53935;
}

.m-footer {
  background-color: #1b1b1b;
}
.m-footer__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .m-footer__content-wrapper {
    flex-direction: row;
  }
}
.m-footer__logo-wrapper {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .m-footer__logo-wrapper {
    text-align: left;
    margin-bottom: 10px;
  }
}
.m-footer__logo {
  width: 130px;
}
.m-footer__social-wrapper {
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .m-footer__social-wrapper {
    text-align: right;
  }
}
.m-footer__social-text {
  margin-bottom: 10px;
}
.m-footer__social-items {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .m-footer__social-items {
    justify-content: end;
  }
}
.m-footer__social-item {
  margin-left: 10px;
}
.m-footer__social-item:first-child {
  margin-left: 0;
}
.m-footer__social-item i {
  font-size: 26px;
  color: #e53935;
}
.m-footer__copy-wrapper {
  color: #fff;
  border-top: 1px solid #cccccc;
  padding: 10px 0 20px;
  font-size: 10px;
}