.m-contact {
  display: flex;
  flex-direction: column-reverse;

  @include mq-tablet-s-up {
    flex-direction: row;
  }

  &__map-wrapper {
    @include mq-tablet-s-up {
      width: 50%;
    }
  }

  &__content-wrapper {
    padding: 0 30px 30px;
    @include mq-tablet-s-up {
      width: 50%;
    }
  }

  &__reference-title-wrapper {
    margin-top: 50px;

    &--centered {
      .m-service-cards__reference-title {
        justify-content: center;
      }

      .m-service-cards__title {
        text-align: center;
      }
    }
  }

  &__reference-title {
    @include reference-title();
  }

  &__reference-title-divider {
    @include reference-title-divider();
  }

  &__title {
    @include title();
  }

  &__reference-paragraph {
    margin-bottom: 30px;
  }

  &__richtext {
    line-height: 2;

    @include mq-tablet-s-up() {
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 8px;
      font-size: 14px;
    }

    strong {
      font-weight: bold;
    }

    ul {
      padding-left: 16px;
    }

    li {
      &::before {
        @include richtext-li-bullet();
        margin-bottom: 15px;
      }
    }

    del {
      text-decoration: none;
      color: $c-special;
    }
  }
}
