.m-contact {
  display: flex;

  &__map-wrapper {
    width: 50%;
  }

  &__content-wrapper {
    width: 50%;
    padding: 30px;
  }

  &__reference-title-wrapper {
    margin-top: 50px;

    &--centered {
      .m-service-cards__reference-title {
        justify-content: center;
      }

      .m-service-cards__title {
        text-align: center;
      }
    }
  }

  &__reference-title {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  &__reference-title-divider {
    width: 45px;
    height: 2px;
    margin: 0 5px;
    background-color: $c-gray;
    align-self: center;
  }

  &__title {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__reference-paragraph {
    margin-bottom: 30px;
  }

  &__richtext {
    line-height: 2;
    margin-bottom: 30px;

    p {
      margin-bottom: 8px;
      font-size: 14px;
    }

    strong {
      font-weight: bold;
    }

    ul {
      padding-left: 16px;
    }

    li {
      &::before {
        position: relative;
        content: "\25A0";
        color: red;
        display: inline-block;
        width: 16px;
        top: -2px;
        margin-left: -16px;
        margin-bottom: 15px;
      }
    }

    del {
      text-decoration: none;
      color: $c-special;
    }
  }
}
