.m-service-description {
  padding: 0 0 50px 0;
  overflow: auto;

  &--pale {
    background-color: $c-light-gray;
  }

  &__content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mq-tablet-s-up {
      align-items: left;
      flex-direction: row;
    }

    &--reverse {
      flex-direction: column;

      @include mq-tablet-s-up {
        flex-direction: row-reverse;
      }

      .m-service-description__text-wrapper {
        margin-left: 0;
      }
    }
  }

  &__image-wrapper {
    @include mq-tablet-s-up {
      width: 40%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-wrapper {
    @include mq-tablet-s-up {
      width: 60%;
      margin-left: 60px;
    }
  }

  &__reference-title-wrapper {
    @include mq-tablet-s-up {
      margin-top: 50px;
    }
  }

  &__reference-title {
    @include reference-title();
  }

  &__reference-title-divider {
    @include reference-title-divider();
  }

  &__title {
    @include title();
  }

  &__text-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__richtext {
    line-height: 2;
    margin-bottom: 30px;

    p {
      margin-bottom: 8px;
      font-size: 14px;
    }

    strong {
      font-weight: bold;
    }

    ul {
      columns: 2;
      padding-left: 16px;
    }

    li {
      &::before {
        @include richtext-li-bullet();
      }
    }

    del {
      text-decoration: none;
      color: $c-special;
    }
  }

  &__cta-btn {
    padding: 15px 24px;
    background-color: $c-special;
    color: $c-white;
    border: none;
    margin-bottom: 20px;
  }
}
